﻿@model List<recanto.Models.Cadastro>

@{ 
    ViewBag.Title = "Cadastro"; 
    }

@if (TempData["msg"] != null)
{
    if (TempData["msg"].ToString().Contains("sucesso"))
    {
<p style="text-align:center; background-color:forestgreen" id="Esconder">@TempData["msg"]</p> }
                else
                {
<p style="text-align:center; background-color:red" id="Esconder">@TempData["msg"]</p>}
            }

<h2>Cadastro</h2>

<h3>Já possui seu cadastro? Se não crie o seu agora mesmo!</h3>
@if (Model != null)
{
    
    foreach (recanto.Models.Cadastro cadastro in Model)
    {
      
        <p>@cadastro.Nome</p>
        <p>@cadastro.Idade</p>
        <p>@cadastro.Cpf</p>
        

    }


}

<p>
    <a href="~/Cadastro/Salvar"> + crie agora seu cadastro </a>
</p>
<p>
    <a href="~/Cadastro/Entrar"> + Já possui sua conta? Então faça seu login!</a>
</p>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Esconder").delay(5000).fadeOut();
        });
    </script>

}