﻿@model recanto.Models.Cadastro

@{ ViewBag.Title = "Salvar"; }

<h2>Salvar</h2>

<form method="post" enctype="multipart/form-data" action="~/Cadastro/Salvar">

    <div class="form-horizontal">
        <h4>Adicionar novo Cadastro</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome
                               , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome
                               , "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Endereco
                                    , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Endereco
                                    , "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Idade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Idade
                                    , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Idade
                                    , "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpf
                                    , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cpf
                                    , "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CADASTRAR" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<p>
    <a href="~/Cardapio/Cardapio"> Voltar para Cardapio </a>
</p>
<p>
    <a href="~/Cadastro/Entrar"> Já possui sua conta? Então faça seu login!</a>
</p>

@section Scripts
    {
    <script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>



}
