﻿@model List<recanto.Models.Cardapio>

@{
    ViewBag.Title = "Cardapio";
}

@if (TempData["msg"] != null)
{
    if (TempData["msg"].ToString().Contains("sucesso"))
    {
<p style="text-align:center; background-color:forestgreen" id="Esconder">@TempData["msg"]</p> }
                else
                {
<p style="text-align:center; background-color:red" id="Esconder">@TempData["msg"]</p>}
            }

<h2>Cardapio Recanto Belo</h2>
<br /><br /><br /><br /><br />
@if (Model != null)
{
    foreach (recanto.Models.Cardapio cardapio in Model)
    {
        string arquivo = Convert.ToBase64String(cardapio.Foto);
        string formato = "data:image/jpeg;base64," + arquivo;
        <img src="@formato" />
        <br /><br />
        <p>@cardapio.Nome    R$:@cardapio.Preco
    <br /> <br /><br /></p>
       
        

    }


}

@*TIRAR CODIGO ABAIXO DE COMENTARIO PARA ACRESENTAR ITENS NO CARDAPIO*@
@*<p>
    
    <a href="~/Cardapio/Salvar"> + Novo Item </a>
</p>*@

@*TIRAR CODIGO ACIMA DE COMENTARIO PARA ACRESENTAR ITENS NO CARDAPIO*@


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Esconder").delay(5000).fadeOut();
        });
    </script>

}