﻿
@{
    ViewBag.Title = "Index";
}



<h2>Recanto Belo</h2>
<br> 
<h3>Nossa Historia</h3>
<br />


<h4>Fundado em meados de 2018 Recanto Belo foi fundado com o objetivo de trazer a todos os nossos consumidores o melhor da colinaria brasileira, e com a agilidade que a cidade grande necessita,
    nossa fundadora *esqueci o nome e nao achei o arquivo que falava o nome professor pra segunda entrega sera corrido* possui varias passagens por concursos colinarios onde em todos que participou, conquistou o primeiro lugar, 
    ainda tem duvida da onde pedir seu almoço? Acesse o nosso cardapio agora no menu superior e faça agora o seu pedido ou o agendamento dele.</h4>