﻿@model recanto.Models.Cardapio

@{ ViewBag.Title = "Salvar"; }

<h2>Salvar</h2>

<form method="post" enctype="multipart/form-data" action="~/Cardapio/Salvar">

    <div class="form-horizontal">
        <h4>Adicionar novo item no cardapio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome
                     , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome
                     , "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco
                     , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Preco
                     , "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
            
            <input type="file" id="Foto" name="Foto" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CADASTRAR" class="btn btn-default" />
            </div>
        </div>
    </div>
    </form>

    <div>
        @Html.ActionLink("Voltar para Cardapio", "Cardapio")
    </div>

    @section Scripts
    {
        <script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>

        <script>
    $(document).ready(function () {
                $('#Preco').inputmask({ "mask": "10.10" }); //specifying options
            });</script>
    }
