﻿@model List<recanto.Models.Pedido>

@{
    ViewBag.Title = "Pedido";
}

@if (TempData["msg"] != null)
{
    if (TempData["msg"].ToString().Contains("sucesso"))
    {
<p style="text-align:center; background-color:forestgreen" id="Esconder">@TempData["msg"]</p> }
                else
                {
<p style="text-align:center; background-color:red" id="Esconder">@TempData["msg"]</p>}
            }

<h2>Pedido</h2>

<h3>Ainda não fez seu pedido? faça já.</h3>
@if (Model != null)
{
    
   foreach (recanto.Models.Pedido pedido in Model)
    {
      
        <p>@pedido.Nome</p>
        <p>@pedido.Observacao</p>
        
        

    }


}
<br /><br />
<p>
    <a href="~/Cadastro/Cadastro"> Não esá logado ainda? click aqui </a>
</p>
<p>
    <a href="~/Pedido/Salvar"> Nenhum pedido registrado na sua conta. Faça já seu pedido </a>
</p>



@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Esconder").delay(5000).fadeOut();
        });
    </script>

}