﻿@model recanto.Models.Pedido

@{ ViewBag.Title = "Salvar"; }

<h2>Pedido</h2>





<form method="post" enctype="multipart/form-data" action="~/Pedido/Salvar">

    <div class="form-horizontal">
        <h4>Adicionar novo Pedido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome
                          , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome
                          , "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observacao
                          , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observacao
                          , "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Concluir pedido" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Voltar para Pedidos", "Pedidos")
</div>

@section Scripts
    {
    <script src="~/Scripts/inputmask/jquery.inputmask.min.js"></script>

    
}